@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom utilities */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@font-face {
    font-family: Inter;
    src: url(../public/fonts/Inter-Bold.otf);
}

.font-inter {
    font-family: 'Inter';
  }

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
